*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    background-color:skyblue;
}
ul{
    display:flex;
    justify-content:space-around;
    list-style-type: none;
    padding-top: 2%;
}
.intro{
    padding: 6%;
}
#name{
    color: blue;
}
#photo{
    height:300px;
    width: 300px;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
    margin-top: 50px;
}
.nono{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}
.text{
    padding: 20px;
    border: 2px solid black;
    background-color: red;
    width:200px;
    height:auto;
    border-radius: 50px;
    margin-top: 50px;
}